@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
    background-image: radial-gradient( circle farthest-corner at -0.4% 112%,  rgba(102,51,204,1) 0%, rgba(244,111,111,1) 92.7% );
}


.btn-grad-primary {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}
.btn-grad-primary {
   padding: 10px 25px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }
 .btn-grad-primary:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .btn-grad-danger {background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%)}
 .btn-grad-danger {
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
  .btn-grad-danger:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 


.btn-grad-search {background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%)}
